<div class="dialog-container">

  <div class="poryapps">
    {{#each apps}}
      <button class="poryapp">
        <div class="app-icon"><i class="fas fa-{{icon}}"></i></div>
        <div class="app-title">{{title}}</div>
      </button>
    {{/each}}
  </div>

</div>