<button id="poryphone-bar">
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oxanium"
  />
  <div class="content">
    <div class="data pokemons">
      <div class="small">
        <i class="fas fa-circle-half-stroke pokeball">
          <i class="fa-solid fa-circle line"></i>
          <i class="fa-solid fa-circle bg"></i>
        </i>
      </div>
      <div class="big">4</div>
    </div>
    <!--
    <div class="data notifications">
      <div class="small"><i class="fas fa-bell"></i></div>
      <div class="big" id="poryphone-bar-notification">0</div>
    </div>
    -->
    <div class="data datetime">
      <div id="poryphone-bar-date" class="small">01/01</div>
      <div id="poryphone-bar-time" class="big">00:00</div>
    </div>
  </div>
</button>