:root {
  --poryphone-app-color: #40c1e9;
  --poryphone-app-background: white;
  --poryphone-app-color-hover: #32b1d8;
  --poryphone-app-background-hover: white;
  --poryphone-app-color-active: #067395;
  --poryphone-app-background-active: #e7f2f5;

  --poryphone-button-color: white;
  --poryphone-button-background: #40c1e9;
  --poryphone-button-color-hover: white;
  --poryphone-button-background-hover: #067395;
  --poryphone-button-color-active: #e7f2f5;
  --poryphone-button-background-active: #067395;

  --poryphone-button-close-color: white;
  --poryphone-button-close-background: #c73636;
  --poryphone-button-close-color-hover: white;
  --poryphone-button-close-background-hover: #a02626;
}

#poryphone-dialog {
  background: transparent;
  box-shadow: none;
  /*  padding: 8.6% 1.2% 2.5%;*/

  background: url(/modules/poryphone/assets/poryphone-ouvert.png);
  background-size: 100% 100%;
}

#poryphone-dialog::before {
  content: "";
  background: url(/modules/poryphone/assets/poryphone-fermer-pupille-normal.png);
  position: absolute;
  width: 35.8%;
  height: 6%;
  background-size: 100% 100%;
  left: 32.7%;
  top: 9.2%;
}

#poryphone-dialog .window-header {
  background: transparent;
  flex: 0 0 38px;
  line-height: 38px;
  position: absolute;
  width: 100%;
  height: 7.6%;
  top: 9.8%;
  left: 0%;
  border: none;
  z-index: 1;
  overflow: visible;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;

  /*  height: 0;
  line-height: 0;
  border: none;
  flex: 0;*/
}

#poryphone-dialog .window-title {
  display: none;
}

#poryphone-dialog .control.close {
  z-index: 1;
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 100%;
  background: var(--poryphone-button-close-background);
  border: 2px solid black;
  color: transparent;
  box-shadow: none;
  text-shadow: none;
}

#poryphone-dialog .control.close:hover {
  --poryphone-button-close-background: var(--poryphone-button-close-background);
}

#poryphone-dialog .control.close i {
  color: var(--poryphone-button-close-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#poryphone-dialog .window-content {
  font-family: Oxanium, monospace;
  font-weight: 600;
  padding: 0;
  background: transparent;
}

#poryphone-dialog .dialog-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: transparent;
  top: 17.5%;
  left: 4.3%;
  right: 4.3%;
  bottom: 5.5%;
  height: auto;
  width: auto;
}

#poryphone-dialog .poryapp-content {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px;
  transition: all 0.3s;
}

#poryphone-dialog .poryapp-content.poryapp-hidden#content-home {
  left: -100%;
}

#poryphone-dialog .poryapp-content.poryapp-hidden {
  left: 100%;
}

#poryphone-dialog .poryapps {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 24px;
  justify-content: center;
  align-items: center;
}

#poryphone-dialog .poryapp {
  grid-gap: 0;
  background: none;
  border: 0;
  box-shadow: none;
  font-family: Oxanium, monospace;
  font-weight: 600;
  line-height: 1;
  position: relative;
  background: var(--poryphone-app-background);
  width: 66px;
  height: 60px;
  margin-top: 10px;
  border-radius: 30px;
  padding: 4px;
  transform: skew(0deg, -2.5deg);
  filter: drop-shadow(6px 6px 6px #00000033);
  transition: all 0.3s;
}
#poryphone-dialog .poryapp > * {
  pointer-events: none;
}

#poryphone-dialog .poryapp .outline {
  position: relative;
  top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  filter: drop-shadow(1px 1px 0px var(--poryphone-app-background))
    drop-shadow(-1px -1px 0px var(--poryphone-app-background))
    drop-shadow(1px -1px 0px var(--poryphone-app-background))
    drop-shadow(-1px 1px 0px var(--poryphone-app-background));
}

#poryphone-dialog .poryapp:hover {
  --poryphone-app-background: var(--poryphone-app-background-hover);
  --poryphone-app-color: var(--poryphone-app-color-hover);
  transform: skew(0deg, 2deg) translate(3px, 0px);
  filter: drop-shadow(3px 6px 9px #00000033);
}

#poryphone-dialog .poryapp:hover .app-title {
  transform: translate(2px, -1px);
}

#poryphone-dialog .poryapp:hover .app-icon {
  transform: translate(3px, -3px) scale(1.1);
}

#poryphone-dialog .poryapp:active {
  --poryphone-app-color: var(--poryphone-app-background-active);
  --poryphone-app-color: var(--poryphone-app-color-active);
  transition: none;
  transform: skew(0deg, 0deg) translate(1px, 2px);
  filter: drop-shadow(0 0 0 #00000033);
}

#poryphone-dialog .poryapp:active .app-icon {
  transition: none;
  transform: translate(2px, -1px);
}

#poryphone-dialog .poryapp:active .app-title {
  transition: none;
  transform: translate(2px, 0px);
}

#poryphone-dialog .poryapp .app-title,
#poryphone-dialog .poryapp .app-icon {
  transition: color 0.1s, background-color 0.1s, filter 0.3s, transform 0.3s;
}

#poryphone-dialog .app-icon {
  font-size: 42px;
  border-radius: 12px;
  position: relative;
  text-align: center;
  color: var(--poryphone-app-color);
  z-index: 1;
}

#poryphone-dialog .app-title {
  font-size: 10px;
  color: var(--poryphone-app-background);
  background-color: var(--poryphone-app-color);
  border-radius: 30px;
  z-index: 1;
  text-transform: uppercase;
  padding: 2px 6px;
  box-sizing: content-box;
  width: 90%;
}

#poryphone-dialog .poryapp-content .poryheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#poryphone-dialog .poryapp-content .poryheader .poryheader-title {
  display: flex;
  flex-direction: row-reverse;
  grid-gap: 3px;

  color: #2ba3c9;
}
#poryphone-dialog .poryapp-content .poryheader button {
  background: var(--poryphone-button-background);
  font-family: Oxanium, monospace;
  font-weight: 600;
  border: 2px solid var(--poryphone-button-color);
  color: var(--poryphone-button-color);
  border-radius: 30px;
  text-transform: uppercase;
  padding: 2px 6px;
  font-size: 11px;
  width: fit-content;
  line-height: 1;
  transition: all 0.3s;
  box-shadow: none;
  filter: drop-shadow(0 0 0 #00000033);
  transform: translateX(0);
}

#poryphone-dialog .poryapp-content .poryheader button:hover {
  --poryphone-button-background: var(--poryphone-button-background-hover);
  --poryphone-button-color: var(--poryphone-button-color-hover);
  transform: translateX(-2px);
  filter: drop-shadow(2px 0 2px #00000033);
}

#poryphone-dialog .poryapp-content .poryheader button:active {
  --poryphone-button-background: var(--poryphone-button-background-active);
  --poryphone-button-color: var(--poryphone-button-color-active);
  transform: translateX(-2px);
  filter: drop-shadow(0px 0 0px #00000033);
}
