@font-face {
  font-family: "Poryphone";
  src: url("fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
}

.pokeball {
  rotate: 90deg;
  position: relative;
  display: inline-block;
}
.pokeball i {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
}
.pokeball .line {
  scale: 0.5;
}
.pokeball .bg {
  color: #e5f3f6;
  scale: 0.3;
}
